body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0px;
}

#titulo {

}

#minha_foto {
    border-radius: 20%;
    width: 10%;
    height: 10%;
}

#licoes_aprendidas {

}

#licoes_a_aprender {

}

#rodape {
    
}